.section-team .box {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.section-team .box-content {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.section-team figure {
	line-height: 0;
}

.team-socials {
	margin-top: auto;
}

.team-link {
	font-weight: 600;
	color: $accent;
	white-space: nowrap;

	&:hover {
		color: $accent;
	}
}